doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css")
        link(rel="stylesheet", href="/public/styles/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap", rel="stylesheet")
    body
        header 
            h1 K-Noom
        main
            div#welcome
                form
                    input(placeholder="room name", required, type="text")
                    button Enter room
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras 
                video#peerFace(autoplay, playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")